/* elements */
body{
    margin: 0px;
    background-color: bisque;
}
button{
    border-radius: 5px;
    border: 2px;
}
button:hover{
    cursor: pointer;
}
section {
    margin: auto;
}
header{

}
div{

}
h1{
}
/* elements      _________end */
.header{
    display: flex;
    justify-content: center;
    color:rgb(59, 160, 142);
}

.titulo {
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;
    width: 500px;
    position: relative;
    top: 0;     
}

.back-black{
    border: 10px;
    margin: 0px;
    border-right: 60px solid transparent;
    border-left: 60px solid transparent;
    border-top: 100px solid black;
    position: absolute ;
}

.productos {
    display: flex;
    justify-content: center;
    max-height: 70%;
    max-width: 70%;
    flex-wrap: wrap;
}

.producto {
    height: auto;
    width: 250px;
    background-color: rgb(243, 202, 120);
    flex-wrap: wrap;
    margin: 50px 10px;
    padding: 10px 10px;
    text-align: center;    
}
.boton-producto{
    padding-bottom: 0px;
}

.producto img{
    width: 170px;
    height: 150px;
}

.magdalena {
    background-image: url(/magdalenaNormal.jpeg);
    width: 170px;
    height: 150px;
    background-size: 170px 150px;
}
.magdalena:hover{
    background-image: url(/magdalena.jpg);
    width: 170px;
    height: 150px;
    background-size: 170px 150px;;
}
.pan{
    background-image: url(/pan.jpg);
    width: 170px;
    height: 150px;
    background-size: 170px 150px;
}
.pan:hover{
    background-image: url(/pan-muerto.jpg);
    width: 170px;
    height: 150px;
    background-size: 170px 150px;;
}